In [13]:
import numpy as np
import pandas as pd

# Loading data

In [14]:
data = np.loadtxt('1_Day_FRB_Sky_on_Earth.txt', skiprows=7)

In [15]:
data

array([[ 0.000000e+00,  3.012800e+02,  4.877000e+01, ...,  2.600000e+41,
         1.100000e-03,  1.800000e-02],
       [ 1.000000e+00,  7.873000e+01, -4.215000e+01, ...,  9.000000e+41,
         6.800000e-03,  2.000000e-02],
       [ 2.000000e+00,  2.423100e+02,  3.540000e+00, ...,  8.900000e+41,
         4.100000e-03,  4.100000e-02],
       ...,
       [ 3.507299e+06,  3.064000e+02,  2.536000e+01, ...,  1.700000e+41,
         1.200000e-02,  1.000000e-02],
       [ 3.507300e+06,  8.075000e+01, -1.450000e+01, ...,  1.200000e+41,
         1.800000e-03,  1.200000e-02],
       [ 3.507301e+06,  3.720000e+00,  4.369000e+01, ...,  5.500000e+41,
         7.600000e-03,  2.400000e-02]])

# Converting to DataFrame

In [16]:
params = ['ra', 'dec', 'gl', 'gb', 'dist_co', 'z', 'dm', 'dm_mw', 'dm_host', 'dm_igm', \
          'w_int', 'w_arr', 'w_eff', 't_dm', 't_scat', 'lum_bol', 's_peak', 'fluence']
df = pd.DataFrame(data[:, 1:], index=data[:, 0].astype(int), columns=params)

In [17]:
df

,ra,dec,gl,gb,dist_co,z,dm,dm_mw,dm_host,dm_igm,w_int,w_arr,w_eff,t_dm,t_scat,lum_bol,s_peak,fluence
0,301.28,48.77,84.21,9.78,2.93,0.823,932.18,133.02,281.26,517.91,8.64,15.75,15.76,0.008,0.42,2.600000e+41,0.00110,0.018
1,78.73,-42.15,-112.03,-36.08,2.34,0.622,1200.91,43.95,525.08,631.88,1.52,2.47,2.93,0.010,1.57,9.000000e+41,0.00680,0.020
2,242.31,3.54,15.47,38.33,2.83,0.787,1233.05,41.74,420.85,770.47,5.41,9.68,9.93,0.010,2.24,8.900000e+41,0.00410,0.041
3,304.59,-28.29,15.10,-29.36,2.50,0.675,797.59,68.54,206.30,522.75,6.84,11.46,11.46,0.007,0.15,1.300000e+41,0.00093,0.011
4,56.46,-26.45,-137.14,-52.38,2.61,0.711,400.71,34.25,64.36,302.10,0.23,0.39,0.53,0.003,0.37,1.700000e+43,0.07600,0.041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3507297,6.56,-14.46,93.38,-75.50,2.70,0.742,1928.97,29.56,1069.00,830.41,8.73,15.20,18.76,0.016,11.00,6.000000e+41,0.00270,0.051
3507298,221.68,13.97,12.37,61.12,2.49,0.670,932.51,23.73,263.86,644.92,3.17,5.30,5.31,0.008,0.43,5.400000e+41,0.00400,0.021
3507299,306.40,25.36,66.66,-6.30,0.52,0.121,932.98,229.37,615.81,87.80,0.12,0.13,0.84,0.008,0.83,1.700000e+41,0.01200,0.010
3507300,80.75,-14.50,-142.99,-27.11,1.97,0.507,825.60,54.62,287.52,483.47,4.20,6.33,6.50,0.007,1.45,1.200000e+41,0.00180,0.012
3507301,3.72,43.69,116.03,-18.54,1.99,0.513,1418.59,75.74,942.38,400.48,1.93,2.92,3.13,0.012,1.12,5.500000e+41,0.00760,0.024